<div class="card border-secundary mb-3 task_list" data-list="<%= list.id %>">
  <div class="card-header">
    <div class="pull-left title">
      <%= list.name %>
    </div>
    <div class="pull-right">
      <%=
        link_to(
          content_tag(:i, "", class: "fa fa-pencil"),
          edit_list_path(list),
          class: "edit", data: { remote: true }
        )
      %>
      <%=
        link_to(
          content_tag(:i, "", class: "fa fa-plus"),
          new_list_list_task_path(list_id: list.id),
          title: t("new_task"),
          data: {
            remote: true,
            toggle: :popover
          }
        )
      %>
      <%= content_tag :i, "", class: "fa fa-star-o" %>
      <%= content_tag :i, "", class: "fa fa-unlock" %>
      <%= content_tag :i, "", class: "fa fa-trash" %>
    </div>
  </div>
  <div class="card-body text-secondary tasks">
    <%= render partial: "lists/tasks", locals: { tasks: list.list_tasks.main_tasks, list: list } %>
  </div>
</div>
