<div id="list_task_form_new"></div>
<ul>
  <% tasks.each do |task| %>
    <li data-task="<%= task.id %>" class="<%= task.status %>" >
      <div id="form" class="hidden"></div>
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-left text">
            <%=
              if task.status.to_sym == :opened
                link_to(
                  task.name,
                  list_list_task_mark_as_closed_path(list, task),
                  title: t("mark_as_closed"),
                  data: {
                    remote: true,
                    toggle: :popover
                  }
                )
              else
                link_to(
                  task.name,
                  list_list_task_mark_as_opened_path(list, task),
                  title: t("mark_as_opened"),
                  data: {
                    remote: true,
                    toggle: :popover
                  }
                )
              end
            %>
          </div>
          <div class="pull-right">
            <%=
              link_to(
                content_tag(:i, "", class: "fa fa-pencil"),
                edit_list_list_task_path(list_id: list.id, id: task.id),
                title: t("edit_task"),
                data: {
                  remote: true,
                  toggle: :popover
                }
              )
            %>
            <%=
              link_to(
                content_tag(:i, "", class: "fa fa-plus"),
                list_list_task_new_path(list_id: list.id, list_task_id: task.id),
                title: t("new_task"),
                data: {
                  remote: true,
                  toggle: :popover
                }
              )
            %>
            <%=
              link_to(
                content_tag(:i, "", class: "fa fa-trash"),
                list_list_task_path(list_id: list.id, id: task.id),
                title: t("delete_task"),
                method: :delete,
                data: {
                  confirm: t("are_you_sure"),
                  remote: true,
                  toggle: :popover
                }
              )
            %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%=
            render(
              partial: "lists/tasks",
              locals: { tasks: task.list_tasks, list: list }
            )
          %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
