<div id="list_task_form_new"></div>
<ul>
  <% tasks.each do |task| %>
    <li data-task="<%= task.id %>" class="<%= task.status %>" >
      <div id="form" class="hidden"></div>
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-left text">
            <%= task.decorate.link_to_change_status(screen) %>
          </div>
          <div class="pull-right">
            <%= edit_list_list_task_link(task, screen) %>
            <%= list_list_task_new_link(task, screen) %>
            <%= list_list_task_link(task, screen) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%=
            render(
              partial: "lists/tasks",
              locals: { tasks: task.list_tasks, list: list, screen: screen }
            )
          %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
