<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t("landing.sub_title") %></h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-gavel text-primary"></i>
          <h3><%= t("landing.services.tools.title") %></h3>
          <p class="text-muted"><%= t("landing.services.tools.description") %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary"></i>
          <h3><%= t("landing.services.goal.title") %></h3>
          <p class="text-muted"><%= t("landing.services.goal.description") %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary"></i>
          <h3><%= t("landing.services.share.title") %></h3>
          <p class="text-muted"><%= t("landing.services.share.description") %></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-star-half-o text-primary"></i>
          <h3><%= t("landing.services.define.title") %></h3>
          <p class="text-muted"><%= t("landing.services.define.description") %></p>
        </div>
      </div>
    </div>
  </div>
</section>
